{%include 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container">
    <div>
        <div class="col-md-6 mt-2">
            <div>
                <h5>{{neighbourhood.hood_name}}
                    {{myhood.location}}</h5>
                <div>
                    <img style="width:100%;height:260px;" src="{{ neighbourhood.hood_photo.url }}" class="img-thumbnail"
                        alt="">
                </div>
                <div class="card-content">
                    <h5 class="mb-3 p-2">
                        <b class="text-dark"> All about {{neighbourhood.hood_name}}</b>
                    </h5>
                    <p class="card-text">{{neighbourhood.description}}</p>
                </div>
                <div class="card-content mt-3">
                    <h5 class="mb-3 p-2">
                        <b class="text-dark"> Emergency Contact Informations</b>
                    </h5>
                    <br>
                    <p class="card-text">
                        <b><h5>Health Department</h5></b> 
                        <p>   -Tel No. +01003333451</p>
                        <p>   -Tel No. +01003333450</p>
                        <b><h5>Police Department</h5></b>
                        <p>   -911</p>
                        <p>   -999</p>
                        <b><h5>Fire Department</h5></b>
                        <p>   -Tel No. +01003333451</p>
                        <p>   -Tel No. +01003333450</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a  style="margin-top: 40px;" href="{%url 'business' neighbourhood.id%}" class="btn btn-sm btn-success mb-4 mr-4">New
        Business</a>
        <h4>Available businesses</h4>
    <div class="row">
        {% for busines in business %}
        <div class="col-md-6">
            <div class="card-body">
                <h5><b>Business name</b>:{{busines.name}}
                    <p style="font-size: 14px;"> <b>Email</b>: {{busines.business_email}}</p>  
                </h5>
                <p>{{ busines.business_description }}</p>
                <p><b> Business Owner</b>:{{ busines.user.user.username}}</p>   
            </div></b>
        </div>
        {% endfor %}
    </div>
    <div class=" container row">
        <a href="{%url 'post' neighbourhood.id%}" class="btn btn-sm btn-success mb-4 mr-4">New
            Post</a>
        <h4>Latest {{neighbourhood.hood_name}} Hood news</h4>
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card-body">
                <h5><b>Post </b>:{{post.title}}
                    <p style="font-size: 14px;"> <b>Message</b>: {{post.post}}</p>  
                </h5> 
            </div> </b>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}